# ====== SEGURIDAD (JWT) ======
JWT_SECRET_KEY=coloca_aqui_una_frase_secreta_y_larga_para_firmar_tokens
JWT_ACCESS_TOKEN_EXPIRES_HOURS=2

# ====== BASE DE DATOS (MYSQL) ======
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password 
DB_NAME=siu2_db
DB_PORT=3306       

# ====== FRONTEND ======
FRONTEND_URL= # Por ahora no hay

# ====== MAILER ======
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=587
SMTP_USERNAME=noreply@vargastomas.com
SMTP_PASSWORD=Grandetuco1@
SMTP_SENDER=noreply@vargastomas.com
SMTP_USE_TLS=true