# ====== SEGURIDAD (JWT) ======
JWT_SECRET_KEY=coloca_aqui_una_frase_secreta_y_larga_para_firmar_tokens
JWT_ACCESS_TOKEN_EXPIRES_HOURS=2

# ====== BASE DE DATOS (MYSQL) ======
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_contraseña_de_mysql 
DB_NAME=siu2_db
DB_PORT=3306       # puerto default de mysql 

# ====== REGLAS DE NEGOCIO ======
DOMINIOS_EMAIL_PERMITIDOS=gmail.com,fi.uba.ar

# ====== FRONTEND ======
FRONTEND_URL= # Por ahora no hay